.image{
    height: 100%;
    width: 100%;
    border-radius: 30px;
}
.container {
    height: 289px;
    width: 439px;
    position: relative;
    overflow:hidden;
    border-radius: 30px;
}
.container:hover .image {
    -webkit-transform:scale(1.3);
    transition: transform 0.6s ease;
    transform:scale(0.95); 
  }