.fatherContainer{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.blueContainer {
  background-color:#002561;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 85%;
  height: 90% !important;
  border-radius: 25px;
  padding: 3rem 2%;
  gap: 2%;
}

@media screen and (max-width: 950px) {
  .blueContainer {
      flex-wrap: wrap;
  }
}

.textContainer {
  text-align: center;
  width: 100%;
  color: white;
  gap: 1rem !important;
}

.textContainer h2 {
  font-size: 40px;
  font-weight: 600; /* Cambiar el peso de la fuente a semibold */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  font-family: 'Inter', sans-serif; /* Establecer la fuente Inter */
  text-transform: uppercase; /* Convertir texto a mayúsculas */
  margin-top: -1rem !important;
  margin-bottom: 1rem; /* Agregar espacio entre los textos */
}


.textContainer h4{
  font-size: 15px;
  font-weight: normal;
  font-family: 'Inter', sans-serif; /* Establecer la fuente Inter */
}

.cardContainer {
  display: flex;
  justify-content: center;
  gap: 20px;
  width: 100%;
}



