.fatherContainer{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.blueContainer {
    background-color:#002561;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 85%;
    height: 90% !important;
    border-radius: 25px;
    padding: 0 2%;
    padding-bottom: 2%;
    gap: 2%;
  }
  @media screen and (max-width: 950px) {
    .blueContainer {
      flex-wrap: wrap;
    }
  }
  
  .textContainer {
    text-align: center;
    width: 100%;
    color: white;
  }
  
  .textContainer h2{
    font-size: 40px;
    font-weight: bolder;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }

  .textContainer h4{
    font-size: 15px;
    font-weight: normal;
  }

  .cardContainer {
    display: flex;
    justify-content: center;
    gap: 20px;
    width: 100%;
  }
  