.date-pickers-container {
  display: flex;
  flex-direction: column;
}

@media (min-width: 768px) {
  .date-pickers-container {
      flex-direction: row;
  }
}

/* Add more media queries as needed */
