.aboutCard-container{
  display: flex;
  flex-direction: column;
  margin: 0.5rem;
  border-radius: 14px;
  color: black;
  background-color: white;
  height: 380px;
  width: 100%;

}


.aboutImg-container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60%;
}

.aboutImg-container img{
  height: 160px;
  aspect-ratio: 1/1;
}

.aboutText-container{
  padding: 0 10px;
  height: 40%;
  text-align: center;
}

.aboutText-container h5{
  font-weight: bold;
}
