.login-page7 {
    --login-bg: #FFB500;
    --login-linear-gradien: linear-gradient(to bottom right, #FFB500 0%, #002561 100%);
    --login-color: #000000;
    --login-input: #000000;
    --login-input-bg: rgba(255, 255, 255, 0.2);
    --login-input-placeholder: #fff;
    --login-input-placeholder-active: #53e3a6;
    --login-input-border: rgba(255, 255, 255, 0.4);
    --login-input-bg-hover: rgba(255, 255, 255, 0.4);
    --login-btn: #FFB500;
    --login-btn-bg: #000000;
    --login-btn-focus: white;
    --login-btn-hover: #FFB500;
    --login-btn-active: #002561;
    --login-footer: #FFB500;
  }
  