.carousel {
    display: flex;
    align-items: center;
    height: 300px;
    width: 100%;
    z-index: 0;
  }
  
  .carousel-container {
    width: 100%;
    display: flex;
    transition: transform 0.6s ease;
    transform: translate(0px, -130px);
    z-index: 0;
  }
  
  .slide {  
    flex-direction: row;
    display: flex;
    gap: 20px;
    justify-content: center;
    z-index: 0;
    width: 100%;
  }
  
  button {
   
    top: 50%;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    cursor: pointer;
    font-size: 20px;
  }
  
  .prevBtn {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    transform: translate(250%);
    left: 0;
    z-index: 1;
  }
  
  .nextBtn {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    transform: translate(-250%);
    right: 0;
    z-index: 1 ;
  }