.search-bar-container{
  padding: 1.2rem 1.6rem !important;
  border-radius: 1rem;
  color: black;
}
.search-bar-containerTransform{
  transform: translate(0%, -50%);
}


/* Mobile Styles */
@media (max-width: 768px) {
  .search-bar-containerTransform{
      transform: none !important; /* Remove transform */
  }
}