.search-bar-container{
    background-color: white;
    width: 80%;
    padding: 1.5rem;
    border-radius: 1rem;
    
    display: flex;
    flex-direction: column;
    color: black;
}

.input-viaje-container{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.donde-viaje-container-search{
    display: flex;
}