@font-face {
  font-family: "Montserrat";
  src: url("assets/Montserrat.ttf") format("truetype");
}


:root {
  font-family: Montserrat, Inter, system-ui;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  font-synthesis: none;
  background-color: #EFEFEE;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
html,body{
  scroll-behavior: smooth
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Montserrat, Inter, system-ui !important;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  padding: 0.6em 1.2em;
  cursor: pointer;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
