.container-select-flight-option{
    display: flex;
    margin: 0 !important;
    width: 100%;
    height: 70px;
    background-color: white ;
    position: fixed;
    margin-top: -20px !important;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    color: black;
}
.container-outbound{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.container-outbound:hover{
    background-color: #f9f9f9; 
}

.container-inbound{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.container-inbound:hover{
    background-color: #f9f9f9; 
}
.slider-selection{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    width: 50%;
    height: 0.5%;
   position:fixed;
    background-color: #FFB500;
    transform: translate(-50%,46px);
    border-radius: 2px;
    transition: transform 0.7s ease;
}
.slider-unselected{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    width: 50%;
    height: 0.5%;
    position:fixed;
    background-color: #FFB500;
    transform: translate(50%,46px);
    border-radius: 2px;
    transition: transform 0.7s ease;
}